#appDiv {
  margin-top: 0px;
  margin-left: 10px;
}

.plot-container {
  display: block;
}

.plot {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content {
  height: 88vh;
  overflow: auto;
}
