#appDiv {
  margin-top: 0px;
  margin-left: 10px;
}

.plot-container {
  display: block;
  height: 85vh; /* TODO:  Make height dynamic*/
  overflow: auto;
}

.plot {
  display: flex;
  align-items: center;
  justify-content: center;
}
