body:not(.chaise-iframe) {
  .matrix-page {
    padding: 20px;
    padding-top: 0;
  }
}

.matrix-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  a {
    // make sure the cell links stay white
    &.cell-link {
      color: white;
      &:hover {
        color: white;
        font-weight: bold;
        .cell-display-value {
          text-decoration: underline;
        }
      }
    }
  }

  button {
    padding: 0px;
    border-width: 0px !important;
  }

  .color-theme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .color-theme-label {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .color-theme-select {
    min-width: 120px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    .title-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 8px;
      font-size: 16px;

      p: {
        margin: 0px;
      }
    }

    .matrix-subtitle {
      padding: 0.5rem 0;
    }
  }

  .options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;

    .dummy-option {
      width: 220px;
    }
  }

  .search-bar {
    align-self: center;
    margin-right: 20px;
  }

  .search-bar-button {
    height: 30px;
  }

  .matrix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    display: flex;
    border-bottom: 2px solid #555;
  }

  .grid {
    scrollbar-gutter: stable;
  }

  .grid-row-headers-container,
  .grid-column-headers-container,
  .grid-row-headers,
  .grid-column-headers {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  .grid-column-headers {
    overflow-y: hidden !important;
  }


  /* ============ grid borders ================= */
  $_cell_border_color: #ddd;
  $_header_border_color: #555;
  $_header_border: 2px solid $_header_border_color;


  // cell borders
  .grid-cell {
    // this way the space between each cell would be 2px
    border: 1px solid $_cell_border_color;
    &.first-row-cell {
      border-top: 0;
    }
    &.first-column-cell {
      border-left: 0;
    }
  }
  .margin-cell {
    &.last-row-cell {
      border-top: 1px solid $_cell_border_color;
    }
    &.last-column-cell {
      border-left: 1px solid $_cell_border_color;
    }
  }

  // border between row-headers
  .row-header {
    border: 1px solid $_cell_border_color;
    border-left: 0;
    border-right: 0;
    &.first-row-header {
      border-top: 0;
    }
    &.row-margin {
      border-bottom: 0;
    }
  }

  // border above the whole matrix (defining this on grid-container messes with height logic)
  .grid-column-headers-container, .grid-row-headers-container {
    border-top: $_header_border;
  }

  // border above the grid (below the column-headers)
  .grid-column-headers-container {
    border-bottom: $_header_border;
  }

  .grid-row-headers-horizontal-scroll {
    // border above the row headers
    border-top: $_header_border;
    // accomodate for the borders that we're adding
    margin-top: -4px;
  }

  // border to the right of row headers
  .grid-row-headers-container {
    border-right: $_header_border;
  }

  // make sure these buttons are showing the same borders
  .grid-scroll-left-btn-container, .grid-scroll-right-btn-container {
    border-top: $_header_border;
    border-bottom: $_header_border;
  }
  .grid-scroll-down-btn-container {
    border-right: $_header_border;
  }

  /* ============== grid buttons ================= */
  .grid-scroll-btn-container {
    display: flex;
    position: absolute;
    padding: 1px;
    button {
      background: transparent;
      color: #4674a7;
    }
  }

  /* ============================================= */
  /* ================ GRID MARGIN ================ */

  .row-margin {
    width: 100%;
    height: 25px;
  }

  .col-margin {
    height: 100%;
    width: 25px;
  }

  .margin-cell {
    display: flex;
    border: 0px;
    width: 1.3rem;
    height: 1.3rem;
  }

  /* ============================================= */
  /* ============================================= */

  .column-header {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .column-header-link {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    padding-left: 50%;
    white-space: nowrap;
  }

  .row-header {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }

  .row-header-link {
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding-right: 10px;
  }

  .hovered-header {
    font-weight: bold;
  }

  .unhovered-header {
    font-weight: regular;
  }

  .grid-cell {
    display: flex;

    .cell-link {
      display: flex;
      flex: 1;
      flex-direction: row;
    }

    .cell-display-value {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }

    .color-part {
      flex: 1;
    }
  }

  .searched-cell {
    background-color: #f7f0cf !important;
  }

  .searched-header {
    background-color: #f7f0cf !important;
  }

  .unsearched-header {
    background-color: rgba(0, 0, 0, 0);
  }

  .hovered-cell {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .unhovered-cell {
    background-color: rgba(0, 0, 0, 0);
  }

  .legend-container {
    flex-direction: column;
    overflow-x: auto;
    overflow-y: visible;
    margin-top: 25px;
  }

  .legend-bars-container {
    display: inline-flex;
    flex-direction: row;
  }

  .legend-links-container {
    display: inline-flex;
    flex-direction: row;
  }

  .legend-bar {
    width: 100%;
    height: 100%;
  }

  .legend-link-div {
    transform-origin: top left;
    -webkit-transform: translate() rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .legend-link {
    &:hover {
      font-weight: bold;
    }
  }

  .split-text {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .color-toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .colorblind-label {
    margin-right: 8px;
  }

  // Make scrollbar invisible in tree column header component
  .grid-column-headers{
    & ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      height: 0;
      background: transparent;  /* Optional: just make scrollbar invisible */
    }
    & div{
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
    }
  }

  .row-header-scrollbar-container{
    direction: rtl;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .column-header-scrollbar-container{
    position: absolute;
    right: 0;
    width: 15px;
    overflow-y: clip;

    .chaise-table-right-scroll-wrapper{
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
      overflow-y: scroll;
      overflow-x: scroll;
      width: 15px;
    }
  }
}
