.modal-title {
    text-align: center;
}
.header {
    font-size: 21px;
}
div.modal-header {
    margin: auto;
}

.modal-header .btn-close {
    position: absolute;
    right: 20px;
    border: 1px solid #ccc;
}