.modal-title {
    text-align: center;
}
.header {
    font-size: 21px;
}
.info-modal-header {
    margin: auto;
    li {
        list-style-type: none;
    }
}

.modal-header .btn-close {
    position: absolute;
    right: 20px;
    border: 1px solid #ccc;
}