.plot-page {
  overflow: auto;

  .chart-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }

  .chart {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .plotly-chart {
    width: 100%;
    height: 70vh;
    margin-inline: 20px;
  }

  .dropdown-select {
    width: 100%;
  }

  .select-input-button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: none;
    width: 100%;
    text-align: left;
  }

  .selectors-link {
    margin-right: 8px;
  }

  .selectors-link-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .selectors-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
  }

  .selectors-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 12px;
  }

  .selector-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-right: 8px;
  }

  .selector-label {
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

// Note: this should be avoided whenever possible. We don't have a way to customize the hover templates for box and violin plots. Only the scatter plot shows at the same time. Defining a hover template turns off the hover functionality for violin and box.
//To add custom styling for study violin plot hover text to improve readability of link inside the hover text
  .main-svg .hoverlayer .hovertext text a {
    fill: inherit;
  }

  .grid-container {
    height: 90vh;
    margin-inline: 10px;
    margin-bottom: 12px;
    overflow: auto;
  }

  .global-grid-layout {
    // NOTE: there shouldn't be scrollbars in the grid unless the items in the grid are bigger than the grid
    // if that's the case, the grid height should be increased with a scrollbar on the grid-container
    overflow: hidden; 
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
