.search-bar-container {
  display: flex;
  flex-direction: row;
}

.search-bar-button {
  height: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: hsl(0, 0%, 80%) !important;
  box-sizing: border-box;
}

.search-input {
  min-width: 350px;
  max-width: 350px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
