<html ng-app="lineplotApp">

<head>
  <script src='/chaise/chaise-config.js'></script>
  <script src='/chaise/scripts/vendor/jquery-1.11.1.min.js'></script>
  <script src='/chaise/scripts/vendor/bootstrap-3.3.7.min.js'></script>
  <script src='vendor/plotly-latest.min.js'></script>
  <script src='vendor/moment.min.js'></script>
  <script src='/chaise/scripts/vendor/angular.js'></script>
  <script src='/chaise/scripts/vendor/angular-sanitize.js'></script>
  <script src='/chaise/common/vendor/angular-cookies.min.js'></script>
  <link rel="stylesheet" type="text/css" href="/chaise/styles/vendor/bootstrap.min.css">
  <script src='/chaise/common/alerts.js'></script>
  <script src='/chaise/common/authen.js'></script>
  <script src='/chaise/common/storage.js'></script>
  <script src='/chaise/common/errors.js'></script>
  <script src='/chaise/common/filters.js'></script>
  <script src='/chaise/common/modal.js'></script>
  <script src='/chaise/common/utils.js'></script>
  <script src='/chaise/scripts/vendor/ui-bootstrap-tpls-2.5.0.min.js'></script>
  <script src='/ermrestjs/ermrest.js'></script>
  <script src="lineplot-config.js"></script>
  <script src="lineplot.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/lineplot.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="LineplotController as ctrl" style="margin-top: 0px; margin-left: 10px;">
<header class="row" style="z-index: -1;">
    <nav id="mainnav" class="navbar navbar-inverse" role="navigation">
        <div style="padding-right: 30px; padding-left: 30px">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fb-navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="md-chevron-down"></span>
                    MENU
                </button>
                <a class="navbar-brand" ng-href="/chaise/recordset/#1/prisms:subjects@sort(BreatheID,RID)" href="/chaise/recordset/#1/prisms:subjects@sort(BreatheID,RID)">
                    <!-- ngIf: brandImage -->
                    <span id="brand-text" style="color: rgb(89, 196, 255)">PRISMS</span>
                </a>
            </div>
            
            <div class="collapse navbar-collapse navbar-inverse" id="fb-navbar-main-collapse">
            	<ul class="nav navbar-nav navbar-right">
            		<li class="dropdown">
            			<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(89, 196, 255)">
	            			<span>{{ctrl.model.user}}</span>
	            			<span class="caret"></span>
	            		</a>
	            		<ul class="dropdown-menu">
	            			<li>
	            				<a id="logout-link" ng-click="::ctrl.logout();">Log Out</a>
	            			</li>
	            		</ul>
	            	</li>
	            </ul>
	            <ul id="navbar-menu" class="nav navbar-nav">
	            	<li class="dropdown">
	            		<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(193, 193, 193)">Browse<span class="caret"></span></a>
	            		<ul class="dropdown-menu">
	            			<li>
	            				<a ng-href="/chaise/recordset/#1/prisms:subjects@sort(BreatheID,RID)" target="_self" href="/chaise/recordset/#1/prisms:subjects@sort(BreatheID,RID)" >Subjects</a>
	            			</li>
	            		</ul>
	            	</li>
	            </ul>
            </div>
            

        </div>
    </nav>
</header>

<div class="row">
	<div id="bookmark-container" class="col-xs-12 meta-icons">
		<div class="pull-left">
			<h1 id="page-title"><span>Subject {{ctrl.model.subject}}</span></h1>
		</div>
	</div>
</div>

    <div class="alerts-container">
        <alerts alerts="ctrl.alerts"></alerts>
    </div>
    <div ng-show="ctrl.lineplotsLoaded" class="row" style="width: 500px; margin-top: 15px;">
        <span class="col-sm-5">Select a different duration (hours) and starting {{ctrl.x_label}} to be displayed:</span>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon" style="width:80px;">Duration</span>
                <input class="form-control" type="text" ng-model="ctrl.model.duration" placeholder="hours" model-view-value="true"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon" style="width:80px;">Date</span>
                <input class="form-control input-timestamptz" type="text" ng-model="ctrl.model.date" placeholder="{{ctrl.dataFormats.date}}" model-view-value="true"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon" style="width:80px;">Time</span>
                <input class="form-control" type="text" ng-model="ctrl.model.time" placeholder="{{ctrl.dataFormats.time24}}" model-view-value="true"></input>
                <!-- <span class="input-group-btn">
                    <button class="btn btn-primary btn-inverted" type="button" ng-click="::ctrl.toggleMeridiem();" ng-bind="ctrl.model.meridiem || 'AM'">AM</button>
                </span> -->
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-inverted" ng-click="::ctrl.applyCurrentDatetime();">Now</button>
                <button type="button" class="btn btn-danger btn-inverted" ng-click="::ctrl.removeValue();">Clear</button>
            </div>
            <button type="button" class="btn btn-primary btn-inverted pull-right" ng-click="::ctrl.applyDatetime();">Apply</button>
        </div>
    </div>
    <!-- <div id="heatmapSpinner" ng-show="!allHeatmapsLoaded">
        <img src="styles/images/loader.gif" class="spinner" />
        <div style="margin-top: 15px;">Loading...</div>
    </div> -->
    <!-- <div ng-repeat="heatmap in heatmaps" ng-show="allHeatmapsLoaded">
        <heatmap heatmap-id="{{heatmap.id}}"></heatmap>
    </div> -->
    <!-- <plotly plotly-data="ctrl.plot.data" plotly-layout="ctrl.plot.layout" plotly-options="ctrl.plot.options" plotly-events="ctrl.plotlyEvents"></plotly> -->
    <lineplot></lineplot>
    </div>
</body>

</html>
