<html id="plot">

<head>
  <title>Plot App</title>
  <script src="plot-config.js"></script>
  <script src="plot.app.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/plot.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="chaise-body">
  <div class="configure-container" ng-app="chaise.configure-plotApp"></div>
  <div class="app-container">
    <navbar></navbar>
    <div ng-controller="plotController as ctrl" id="appDiv">
      <div ng-if= "ctrl.model.title" class="row">
      	<div id="bookmark-container" class="col-xs-12 meta-icons">
      		<div id="title" class="pull-left">
      			<h1 id="page-title"><span>{{ctrl.model.title}}</span></h1>
      		</div>
      	</div>
      </div>
      <div id="main-content" class="plot-container">
        <div class="main-container">
          <div class="main-body">
            <div class="alerts-container">
                <alerts alerts="ctrl.alerts"></alerts>
            </div>
            <!-- <div class="col-sm-3">  TODO: UI : selection for different types of plot types.
              <div class="sub-header">
                Plot type
              </div>
              <div>
                <select ng-model="ctrl.model.type.name" ng-options="s for s in ctrl.types"
                    ng-change="::ctrl.changeSelection()"></select>
              </div>
            </div> -->
            <div id="plotSpinner" ng-show="!plotsLoaded">
              <img src="styles/images/loader.gif" class="spinner" />
              <div style="margin-top: 15px;">Loading...</div>
            </div>
            <div class="plot" ng-show="plotsLoaded" ng-repeat="plot in plots">
              <plot plot-id="{{plot.id}}"></plot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
