<html id="2dplot">

<head>
  <script src='/chaise/chaise-config.js'></script>
  <script src='../../chaise/scripts/vendor/jquery-1.11.1.min.js'></script>
  <script src='../../chaise/scripts/vendor/bootstrap-3.3.7.min.js'></script>
  <script src='vendor/plotly-latest.min.js'></script>
  <script src='vendor/moment.min.js'></script>
  <script src='../../chaise/scripts/vendor/angular.js'></script>
  <script src='../../chaise/scripts/vendor/angular-sanitize.js'></script>
  <script src='../../chaise/common/vendor/angular-cookies.min.js'></script>
  <link rel="stylesheet" type="text/css" href="/chaise/styles/vendor/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/chaise/common/styles/app.css">
  <link rel="stylesheet" type="text/css" href="/chaise/common/styles/appheader.css">
  <script src='../../chaise/common/alerts.js'></script>
  <script src='../../chaise/common/authen.js'></script>
  <script src='../../chaise/common/storage.js'></script>
  <script src='../../chaise/common/errors.js'></script>
  <script src='../../chaise/common/filters.js'></script>
  <script src='../../chaise/common/inputs.js'></script>
  <script src='../../chaise/common/modal.js'></script>
  <script src='../../chaise/common/login.js'></script>
  <script src='../../chaise/common/navbar.js'></script>
  <script src='../../chaise/common/utils.js'></script>
  <script src='../../chaise/common/validators.js'></script>
  <script src='../../chaise/common/config.js'></script>

  <script src='../../chaise/scripts/vendor/ui-bootstrap-tpls-2.5.0.min.js'></script>
  <script src='../../ermrestjs/ermrest.js'></script>
  <script src="2dplot-config.js"></script>
  <script src="2dplot.app.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/2dplot.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="chaise-body">
  <div class="configure-container" ng-app="chaise.configure-2dplotApp"></div>
  <div class="mainContainer">
    <navbar></navbar>
    <div class="app-container" ng-controller="PlotController as ctrl" id="appDiv" style="margin-top: 0px; margin-left: 10px;">
      <div class="row">
      	<div id="bookmark-container" class="col-xs-12 meta-icons">
      		<div id="title" class="pull-left">
      			<h3 id="page-title"><span>Subject {{ctrl.model.subject}}</span></h3>
      		</div>
      	</div>
      </div>
      <div class="alerts-container">
          <alerts alerts="ctrl.alerts"></alerts>
      </div>
      <div ng-show="ctrl.plotsLoaded" class="row" style="margin-top: 15px;">
          <div class="col-sm-12">
            <div class="col-sm-2">
              <span class="col-sm-12">Select a different duration (hours) and starting {{ctrl.x_label}} to be displayed:</span>
            </div>
            <div class="col-sm-3 custom-time">
              <div class="col-sm-12">
                  <div class="input-group padding-vertical">
                      <span class="input-group-addon" style="width:80px;">Duration</span>
                      <input class="form-control" type="text" ng-model="ctrl.model.duration" placeholder="hours" model-view-value="true"></input>
                  </div>
                  <div class="input-group padding-vertical">
                      <span class="input-group-addon" style="width:80px;">Date</span>
                      <input class="form-control input-timestamptz" type="text" ng-model="ctrl.model.date" placeholder="{{ctrl.dataFormats.date}}" model-view-value="true"></input>
                  </div>
                  <div class="input-group padding-vertical">
                      <span class="input-group-addon" style="width:80px;">Time</span>
                      <input class="form-control" type="text" ng-model="ctrl.model.time" placeholder="{{ctrl.dataFormats.time24}}" model-view-value="true"></input>
                  </div>
                  <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary btn-inverted" ng-click="::ctrl.applyCurrentDatetime();">Now</button>
                      <button type="button" class="btn btn-danger btn-inverted" ng-click="::ctrl.removeValue();">Clear</button>
                  </div>
                  <button type="button" class="btn btn-primary btn-inverted pull-right" ng-click="::ctrl.applyDatetime();">Apply</button>
              </div>
            </div>
            <!-- <div class="col-sm-3">
              <div class="col-sm-12 padding-vertical">
                <div class="sub-header">
                  Plot type
                </div>
                <div class="padding-vertical">
                    <select ng-model="ctrl.model.type" ng-options="s for s in ctrl.types"
                        ng-change="::ctrl.changeSelection(s)"></select>
                </div>
              </div>
            </div> -->
          </div>
      </div>
      <div class="plot-container">
        <2dplot></2dplot>
      </div>
    </div>
  </div>
</body>

</html>
