<!DOCTYPE html>
<html lang="en" id="booleansearch">    
<head>
    <title>Boolean Search App</title>
    <script src='/chaise/chaise-config.js'></script>
    <script src='/chaise/scripts/vendor/jquery-3.4.1.min.js'></script>
    <script src='/chaise/scripts/vendor/angular.js'></script>
    <script src='/chaise/scripts/vendor/angular-sanitize.js'></script>
    <script src='/chaise/scripts/vendor/angular-messages.min.js'></script>
    <script src='/chaise/common/vendor/angular-cookies.min.js'></script>
    <script src='/chaise/common/vendor/angular-animate.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/chaise/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/chaise/common/styles/app.css">
    <link rel="stylesheet" type="text/css" href="/chaise/common/styles/appheader.css">
    <script src='/chaise/scripts/vendor/bootstrap-3.3.7.min.js'></script>
    <script src='/chaise/scripts/vendor/ui-bootstrap-tpls-2.5.0.min.js'></script>
    <script src='/chaise/common/alerts.js'></script>
    <script src='/chaise/common/authen.js'></script>
    <script src='/chaise/common/storage.js'></script>
    <script src='/chaise/common/errors.js'></script>
    <script src='/chaise/common/filters.js'></script>
    <script src='/chaise/common/modal.js'></script>
    <script src='/chaise/common/utils.js'></script>
    <script src='/chaise/common/login.js'></script>
    <script src='/chaise/common/navbar.js'></script>
    <script src='/chaise/common/resizable.js'></script>
    <script src='/chaise/common/config.js'></script>
    <script src='/ermrestjs/ermrest.js'></script>
    <link rel="stylesheet" type="text/css" href="styles/booleansearch.css">
    <script src="booleansearch-config.js"></script>
    <script src="booleansearch.app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />

</head>

<body>
    <div class="configure-container" ng-app="chaise.configure-booleansearchApp"></div>
    <div class="mainContainer">
        <navbar></navbar>    
        <div class="app-container" ng-controller="BooleanSearchController as form" id="appDiv">
            <div class="row">
                <div id="titleBar" class="col-xs-12 meta-icons">
                    <div id="title" class="pull-left">
                        <h3 id="page-title">
                            <span>Boolean Search</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div id="appSpinner" ng-show="!form.initialized">
                <img src="styles/images/loader.gif" class="spinner" />
                <div style="margin-top: 15px;">Loading...</div>
            </div>
            <div class="content-container" ng-show="form.initialized">
                <div class="resizable-panel resizable" ng-class="{'open-panel': treeviewOpen, 'close-panel': !treeviewOpen}">
                    <div class="treeview-panel">
                        <tree-view></tree-view>
                    </div>
                    <div class="resize-btn">
                        <button class="sidePanFiddler btn btn-primary btn-inverted" type="button" ng-class="{'open-panel': treeviewOpen, 'close-panel': !treeviewOpen}"
                            ng-click="togglePanel()" uib-tooltip="{{'Click to ' + ((treeviewOpen) ? 'hide': 'show' ) + ' treeview'}}"
                            tooltip-placement="right">
                            <span class="facet-glyph-icon" ng-class="setClass()"></span>
                        </button>
                    </div>
                </div>
                <div class="booleanSearchContainer">
                    <div class="sideMargin">
                        <div class="input-group inlineClass">
                            <input id="filtersInput" ng-model="form.filters" ng-required="true" placeholder="Boolean Query"></input>
                            <button id="clear-filter-btn" class="btn btn-primary btn-inverted center-block btn-height filter-btn"
                                ng-click="::form.removeAll($event);" type="button" tooltip-placement="auto top" uib-tooltip="Clear all filters">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button id="submit-button" class="btn btn-primary btn-inverted btn-height filter-btn" type="submit"
                                ng-disabled="form.submissionButtonDisabled" ng-click="::form.submit()"
                                ng-attr-tooltip-placement="auto top" ng-attr-uib-tooltip="Submit query to search specimens">Search
                                Specimen</button>
                        </div>
                        <div class="btn-group">
                            <button id="validate-filter-btn" class="btn btn-primary btn-inverted center-block btn-height"
                                ng-click="::form.validateQuery();" type="button" tooltip-placement="auto top" uib-tooltip="Validate filters query text">
                                <span class="glyphicon glyphicon-check"></span>
                            </button>
                            <button id="save-filter-btn" class="btn btn-primary btn-inverted center-block btn-height"
                                ng-click="::form.saveFilters();" type="button" tooltip-placement="auto top" uib-tooltip="Save entered query as a text file">
                                <span class="glyphicon glyphicon-save"></span>
                            </button>
                            <button id="info-btn" class="btn btn-primary btn-inverted center-block btn-height"
                                ng-click="::form.showInfo();" type="button" tooltip-placement="auto top" uib-tooltip="Learn more about the app.">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                        </div>
                        <div id="addButtonDiv" class="btn-group pull-right">
                            <button id="create-filter-btn" class="btn btn-primary btn-inverted center-block btn-height"
                                ng-click="::form.copyFilterRow();" type="button" tooltip-placement="auto top" uib-tooltip="Add more search filters">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-container sideMargin">
                        <table ng-form="form.formContainer" class="table table-hover filterTable" cellspacing="10">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><span class="text-danger"><b>*</b></span>&nbsp;Strength</td>
                                    <td><span class="text-danger"><b>*</b></span>&nbsp;<span tooltip-placement="auto top" uib-tooltip="Click a term on the left panel to fill in an anatomical source">In Anatomical Source</span></td>
                                    <td><span class="text-danger"><b>*</b></span>&nbsp;Stages</td>
                                    <td>With Pattern</td>
                                    <td>At Location</td>
                                    <td>Actions</td>
                                </tr>
                                <tr ng-repeat="(rowIndex, row) in form.booleanSearchModel.rows track by $index" ng-class="{'activeRow':rowIndex==form.currentRow}"
                                    ng-click="::form.changeActiveRow(rowIndex);" ng-form="form.formContainer.row[rowIndex]">
                                    <td ng-hide="rowIndex == 0">
                                        AND
                                    </td>
                                    <td ng-show="rowIndex == 0">
                                    </td>
                                    <td>
                                        <select ng-model="form.booleanSearchModel.rows[rowIndex].strength" ng-options="s for s in options.strengthOptions"
                                            ng-change="::form.changeSelection(rowIndex, 'strength')"></select>
                                        <div ng-show="form.booleanSearchModel.rows[rowIndex].strengthInvalid" class="text-danger"
                                            role="alert">
                                            <div>Invalid Strength.</div>
                                        </div>
                                    </td>
                                    <td ng-form="form.formContainer.row[rowIndex].source">
                                        <input class="red-text" ng-model="form.booleanSearchModel.rows[rowIndex].source.name"
                                            ng-disabled="true" ng-required="true"></input>
                                        <div ng-messages="form.formContainer.row[rowIndex].source.$error" ng-show="form.formContainer.$submitted && form.formContainer.row[rowIndex].source.$invalid"
                                            class="text-danger" role="alert">
                                            <div ng-message="required">Please enter a value for this field.</div>
                                        </div>
                                        <div ng-show="form.booleanSearchModel.rows[rowIndex].sourceInvalid && !form.formContainer.row[rowIndex].source.$invalid" class="text-danger"
                                            role="alert">
                                            <div>Invalid Source.</div>
                                        </div>
                                    </td>
                                    <td>
                                        <span>From: </span>
                                        <select class="stageDropdown" ng-model="form.booleanSearchModel.rows[rowIndex].stageFrom" ng-options="s.Name for s in options.fromStageOptions"
                                            ng-change="form.setToStageOptions(rowIndex); form.changeSelection(rowIndex, 'stageFrom')"></select>
                                        <span>To: </span>
                                        <select class="stageDropdown" ng-model="form.booleanSearchModel.rows[rowIndex].stageTo" ng-options="s.Name for s in form.booleanSearchModel.rows[rowIndex].toStageOptions"
                                            ng-change="::form.changeSelection(rowIndex, 'stageTo')"></select>
                                        <div ng-show="form.booleanSearchModel.rows[rowIndex].stageFromInvalid" class="text-danger"
                                            role="alert">
                                            <div>Invalid From Stage.</div>
                                        </div>
                                        <div ng-show="form.booleanSearchModel.rows[rowIndex].stageToInvalid" class="text-danger"
                                            role="alert">
                                            <div>Invalid To Stage.</div>
                                        </div>
                                    </td>
                                    <td>
                                        <select ng-model="form.booleanSearchModel.rows[rowIndex].pattern" ng-options="s for s in options.patternOptions"
                                            ng-change="::form.changeSelection(rowIndex, 'pattern')"></select>
                                        <div ng-show="form.booleanSearchModel.rows[rowIndex].patternInvalid" class="text-danger"
                                            role="alert">
                                            <div>Invalid Pattern.</div>
                                        </div>
                                    </td>
                                    <td>
                                        <select ng-model="form.booleanSearchModel.rows[rowIndex].location" ng-options="s for s in options.locationOptions"
                                            ng-change="::form.changeSelection(rowIndex, 'location')"></select>
                                        <div ng-show="form.booleanSearchModel.rows[rowIndex].locationInvalid" class="text-danger"
                                            role="alert">
                                            <div>Invalid Pattern Location.</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <button ng-click="::form.clearFilterRow(rowIndex);" class="action-btn btn btn-primary btn-inverted btn-sm"
                                                tooltip-placement="auto bottom" uib-tooltip="Click to clear this filter">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <button ng-disabled="form.booleanSearchModel.rows.length == 1" ng-click="::form.removeFilterRow(rowIndex, $event);"
                                                class="action-btn btn btn-primary btn-inverted btn-sm" tooltip-placement="auto bottom"
                                                uib-tooltip="Click to remove this filter">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>