name: Test deriva-webapps

on: [push]

jobs:
  install-and-test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: ["20.x", "22.x", "24.x"]
    env:
      PYTHONWARNINGS: ignore:Unverified HTTPS request
    timeout-minutes: 15
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
        with:
          path: deriva-webapps
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install deriva-webapps
        run: |
          cd deriva-webapps
          sudo make root-install